<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <main class="main">
      <section class="value-section">
        <div class="quantity">
          <h1>Quantity</h1>
          <input
            min="0"
            max="1000"
            class="input"
            id="quantity"
            type="number"
            onkeyup="update()"
            onchange="update()"
            placeholder="Type here"
          />
        </div>
      </section>
      <!-- Section for the dynamically updated boxes -->
      <section class="boxes-section" id="boxes"></section>
    </main>
  </body>
</html>
